---
export interface Props {
  name: string;
  tints: Array<string>;
  nbOfWhiteLabels?: number;
}

const { name, tints, nbOfWhiteLabels = 0 } = Astro.props;
const percentages = [100, 90, 80, 70, 60, 50, 45, 40, 35, 30, 25, 20, 15, 10];
---

<div class="col-6" style={`background-color: ${tints[0]}`}>
  <h4
    style={`background-color: ${tints[0]}; color: ${
      nbOfWhiteLabels >= 1 ? "white" : "inherit"
    }`}
  >
    {name}
  </h4>
  <ul class="p-list">
    {
      percentages.map((percentage, index) => (
        <li
          style={`background-color: ${tints[index]}; color: ${
            index < nbOfWhiteLabels ? "white" : "inherit"
          }`}
        >
          <span>{percentage}%</span>
          <span>{tints[index]}</span>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  div {
    margin-bottom: 2rem;
  }

  h4 {
    padding: 0.5rem 1rem 1rem 1rem !important;
    margin: 0;
  }

  ul {
    margin-bottom: 0 !important;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem !important;
  }
</style>
